<nav class="sticky top-0 z-50 backdrop-blur-xl py-2 bg-white/70">
    <div class="container-app">
        <div class="flex items-center h-16">
            <a href="#" class="font-semibold flex items-center">
                <img src="/assets/images/asteriosphp-logo.png"
                     alt="{{ appName }} Logo"
                     class="h-[60px] mr-2">
            </a>
        </div>
    </div>
</nav>